html, body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/* Header */

.hero-team-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 500px;
  text-align: center;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
  background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .35);
  opacity: 1;
}

.hero-team-page h1 {
  color: #fff;
  padding-top: 15rem;
  font-size: 3rem;
}

.hero-text {
    margin-top: 0;
}

/* Bio Section */

.login-page-section {
  background-color: #f9f9f9;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.login-container {
    width: 90%;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .03);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
}


.heading-div-login {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-heading {
    margin-top: 0px;
    font-size: 2rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

.login-button {
    margin-left: auto;
    margin-right: auto;
}

.login-row {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.features p {
    font-size: 1.5rem;
    text-align: left;
}

.solution {
    padding-left: 1rem;
}

.trouble-row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.trouble-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.trouble-text {
    font-size: 1.25rem;
}

.heading-credentials {
  margin-top: 0px;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.red-border-team {
  display: block;
  width: 8rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: .5rem;
  margin-left: auto;;
  padding-left: 0px;
  border-top: 2px solid #f44a66;
}

.login-page-subheading {
  color: #015FA3;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5rem;'
}


.headshot-block {
  padding: 7px 7px 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.headshot {
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.features {
  padding-right: 1.5rem;
  padding-left: .5rem;
  text-align: justify;
}

.featured-list {
  display: flex;
  justify-content: center;
  padding: 4rem 0 0 0;
  text-transform: uppercase;
}

.featured-list h1 {
  margin: 1rem 1rem;
}

.featured-logo {
  height: 40px;
  margin: 1rem 1.5rem;
}

.featured-list-bruce {
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
  text-transform: uppercase;
}

.featured-logo-bruce {
  height: 60px;
  margin: 1rem 1.5rem;
}

.media-contact-container {
    width: 70%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .03);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
}

#media-text {
  display: flex;
  align-items: center;
}

#media-text p {
  font-size: 1.5rem;
  text-align: center;
}

.speaking-image {

}



/* Mobile */

@media only screen and (max-width: 767px) {

    /* Nav */

    .navbar-brand .transparent-logo {
      height: 2rem;
    }

    .navbar-default {
      background-color: rgb(255,255,255);
    }

    /* Hero */

    .hero-team-page {
        height: 180px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero-team-page h1 {
        padding-top: 6rem;
        font-size: 1.5rem;
      letter-spacing: 1px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .heading-div-team-page {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .login-container {
        width: 100%;
    }

    .login-page-heading {
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .heading-credentials {
      font-size: 1rem;
      line-height: 36px;
      letter-spacing: 1px;
    }

    .red-border-team {
      margin-bottom: 1.25rem;
    }

    .login-page-subheading {
      font-size: 1.25rem;'
    }

    /*.headshot-block {
      padding: 7px 7px 2px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
    }

    .features {
      padding: 0 1rem;
    }

    .featured-list {
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
      align-items: center;
      padding: 3rem 0;
      text-transform: uppercase;
    }

    .featured-list h1 {
      margin: 1rem 1rem;
      font-size: 1.75rem;
    }

    .featured-logo {
      height: 30px;
      margin: 1rem 1.5rem;
    }

    .featured-list-bruce {
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
      align-items: center;
      padding: 3rem 0 0 0;
      text-transform: uppercase;
    }

    .featured-list-bruce h1 {
      margin: 1rem 1rem;
      font-size: 1.75rem;
    }

    .featured-logo-bruce {
      height: 50px;
      margin: 1rem 1.5rem;
    }

    .media-contact-container {
      width: 100%;
    }

    #media-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #media-text p {
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 2rem;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    .speaking-image {
        max-height: 14rem;
    }

}

/* Tablet and Small Screens */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Nav */

    .navbar-brand .transparent-logo {
      height: 2rem;
    }

    .navbar-default {
      background-color: rgb(255,255,255);
    }

    /* Hero */

    .hero-team-page {
        height: 280px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero-team-page h1 {
        padding-top: 10rem;
        font-size: 2.5rem;
      letter-spacing: 1px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .heading-div-team-page {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .login-page-heading {
        font-size: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .heading-credentials {
      font-size: 1.5rem;
      line-height: 36px;
      letter-spacing: 1px;
    }

    .red-border-team {
      margin-bottom: 1.25rem;
    }

    .login-page-subheading {
      font-size: 1.75rem;'
    }

    .login-container {
        width: 80%;
    }

    .headshot-block {
        /*width: 300px;*/
        margin-left: auto;
        margin-right: auto;
      padding: 7px 7px 2px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
    }

    .features {
      padding: 0 1rem;
    }

    .features p {
        font-size: 1.15rem;
    }

    /*.featured-list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem 0;
      text-transform: uppercase;
    }*/

    .featured-list h1 {
      margin: 1rem 1rem;
      font-size: 1.75rem;
    }

    .featured-logo {
      height: 30px;
      margin: 1rem 1.5rem;
    }

    .featured-list-bruce {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4rem 0 0 0;
      text-transform: uppercase;
    }

    .featured-list-bruce h1 {
      margin: 1rem 1rem;
      font-size: 1.75rem;
    }

    .featured-logo-bruce {
      height: 50px;
      margin: 1rem 1.5rem;
    }

    .media-contact-container {
        width: 80%;
      margin-top: 3rem;
      margin-bottom: 2rem;
      padding: 1rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, .03);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
    }

    #media-text {
      /*display: flex;*/
      /*align-items: center;*/
      /*justify-content: center;*/
    }

    #media-text p {
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 2rem;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    .speaking-image {

    }

}
