html, body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/* Header */

.hero-login-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 400px;
  text-align: center;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
  background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .35);
  opacity: 1;
}

.hero-login-page h1 {
  color: #fff;
  padding-top: 14rem;
  font-size: 4rem;
}

.hero-text {
    margin-top: 0;
}

.hero-login-page p {
    padding-top: 1rem;
  color: #F44A66;
  font-size: 1.5rem;
}

.jump-to {
    display: none;
}

/* Login Section */

.login-page-section {
  background-color: #f9f9f9;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#sei {
    padding-top: 0;
}

.sites-row {
    background-color: #f9f9f9;
}

.login-container {

}

.login-wrapper {
    min-height: 840px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .03);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
}


.heading-div-login {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-heading {
    margin-top: 0px;
    font-size: 2rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

.red-border-login {
  display: block;
  width: 11rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: .5rem;
  margin-left: auto;;
  padding-left: 0px;
  border-top: 2px solid #f44a66;
}

.login-page-subheading {
  color: #015FA3;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5rem;'
}

.login-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
}

.login-row {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
}

.login-row img {
    margin-bottom: 1.5rem;
    max-height: 175px;
}

.login-row p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
}

.trouble-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    text-align: center;
}

.trouble-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #015FA3;
    text-align: center;
    text-transform: uppercase;
}

.trouble-text {
    font-size: 1.25rem;
    margin-top: 2rem;
}

.problem {
    font-weight: bold;
}

.solution {
    font-weight: normal;
}



/* Mobile */

@media only screen and (max-width: 767px) {

    /* Nav */

    .navbar-brand .transparent-logo {
      height: 2rem;
    }

    .navbar-default {
      background-color: rgb(255,255,255);
    }

    /* Hero */

    .hero-login-page {
        height: 280px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero-login-page h1 {
        padding-top: 6rem;
        font-size: 1.5rem;
      letter-spacing: 1px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .jump-to {
        display: block;
    }

    .jump-button {
        width: 140px;
        margin-right: 1rem;
        letter-spacing: 1px;
    }

    .heading-div-login {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .login-container {
        width: 100%;
    }

    .login-page-heading {
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .login-wrapper {
        margin-top: 2rem;
    }

    #mywealthsync {
        padding-top: 0;
    }

    .red-border-login {
      margin-bottom: 1.25rem;
    }

    .login-page-subheading {
      font-size: 1.25rem;'
    }

}

/* Tablet and Small Screens */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Nav */

    .navbar-brand .transparent-logo {
      height: 2rem;
    }

    .navbar-default {
      background-color: rgb(255,255,255);
    }

    /* Hero */

    .hero-login-page {
        height: 380px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/computer.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero-login-page h1 {
        padding-top: 10rem;
        font-size: 2.5rem;
      letter-spacing: 1px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .jump-to {
        display: block;
    }

    .jump-button {
        width: 140px;
        margin-right: 1rem;
        letter-spacing: 1px;
    }

    .heading-div-login {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .login-page-heading {
        font-size: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .red-border-login {
      margin-bottom: 1.25rem;
    }

    .login-page-subheading {
      font-size: 1.75rem;'
    }

    .login-container {
        width: 80%;
    }

    .login-wrapper {
        margin-top: 2rem;
    }


    #mywealthsync {
        padding-top: 0;
    }

    .login-row p {
        width: 75%;
    }

}
